    html {}
    
    body {
        margin: 0;
        height: auto;
        top: 0;
        bottom: 0;
    }
    /* Height / width / positioning can be customized for your use case.
       For demo purposes, we make the user list 175px and firepad fill the rest of the page. */
    
    @font-face {
        font-family: 'Menlo Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Menlo Regular'), url('Menlo-Regular.woff') format('woff');
    }
    
    #userlist {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        height: auto;
        width: 130px;
        background-color: black;
        //background-color: #212121;
        color: white;
    }
    
    #firepad {
        position: absolute;
        left: 130px;
        top: 0;
        bottom: 0;
        right: 0;
        height: auto;
    }
    
    .CodeMirror {
        font-family: "Menlo Regular";
        font-size: 0.7em;
    }
    
    .firepad-userlist {
        /* default height */
        //height: 100%;
        top: 0;
        width: 130px;
        background: #ebebeb;
        /* Old browsers */
        background: -moz-linear-gradient(left, #ebebeb 0%, #eaeaea 93%, #d9d9d9 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ebebeb), color-stop(93%, #eaeaea), color-stop(100%, #d9d9d9));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, #ebebeb 0%, #eaeaea 93%, #d9d9d9 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #ebebeb 0%, #eaeaea 93%, #d9d9d9 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #ebebeb 0%, #eaeaea 93%, #d9d9d9 100%);
        /* IE10+ */
        background: linear-gradient(to right, #ebebeb 0%, #eaeaea 93%, #d9d9d9 100%);
        /* W3C */
        background: transparent;
        //color: #404040;
        color: white;
        left: 0px;
    }
    
    .firepad-userlist {
        text-align: left;
        font-family: 'Helvetica Neue', sans-serif;
        line-height: normal;
        left: 0;
    }
    
    .firepad-userlist-heading {
        margin: 20px 15px 0;
        font-size: 12px;
        font-weight: normal;
        //border-bottom: 2px solid #c9c9c9;
    }
    
    .userlist-title {
        font-weight: bold;
        font-size: 14px;
    }
    
    .firepad-userlist-users {
        position: absolute;
        left: 0px;
        right: 15px;
        top: 78px;
        bottom: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
    }
    
    .firepad-userlist-user {
        position: relative;
        // margin: 3px 0;
        height: 24px;
        // border-bottom: 1px solid #c9c9c9;
        padding-bottom: 5px;
        left: 5px;
    }
    
    .firepad-userlist-color-indicator {
        position: absolute;
        margin-top: 4px;
        display: inline-block;
        width: 10px;
        height: 10px;
        // border: 1px solid #ccc;
        border: 1px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        left: 10px;
    }
    
    input.firepad-userlist-name-input {
        position: absolute;
        left: 30px;
        top: 0;
        width: 90px;
        height: 14px;
        border: 0;
        //border-bottom: 1px solid #d6d6d6;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        font-size: 11px;
        line-height: 14px;
        padding: 1px;
        background: transparent;
        color: white;
    }
    
    .firepad-userlist-name-hint {
        position: absolute;
        left: 30px;
        top: 16px;
        width: 130px;
        /* I'd rather it clip than wrap. */
        font-size: 9px;
        line-height: 11px;
    }
    
    .firepad-userlist-name {
        position: absolute;
        top: 2px;
        left: 300px;
        width: 80px;
        font-size: 11px;
    }